<h1>Add a definition to <% @word() %></h1>

<form action = "/definitions" method = "post"

  <div class = "form-group">

  <input id = "word"  Placeholder = "Enter your definition"  class = "form-control"  name = "word"  type = "text">

</form>
