<h1>Add definitions</h1>

<p>Add a definition here: </p>

<form action = "/words" method = "post">
  <div class = "form-group">
    <label for = "definition">Definition: </label>
    <input type = "text" id = "definition" name = "definition" class = "form-control" placeholder = "Word definition">
  </div>
  <button type = "submit"  id = "new_definition"  class = "btn-primary">Submit</button>
</form>     
